// font family
$primary-font: "Montserrat", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-white-100: hsl(228, 33%, 97%);
$color-white-300: hsl(0, 0%, 87%);
$color-primary: hsl(210, 80%, 44%);
$color-secondary: hsl(210, 62%, 56%);
$color-info: hsl(26, 96%, 46%);

// fonts path
$fonts-path: "../fonts" !default;

// base unit
$scut-rem-base: 16 !default;
