div.wallet {
  line-height: rem(10);
  span {
    color: $color-info;
  }
  :is(span, p) {
    font-size: rem(10);
  }
}

form {
  input {
    width: rem(500);
    padding: rem(5) rem(20);
  }
}

.navbar-toggler-icon {
  position: relative;
  span {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background: $color-black;

    &:nth-child(1) {
      transform: translateY(-8px);
    }
    &:nth-child(3) {
      transform: translateY(8px);
    }
  }
}
